*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: #121212;
    min-height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;

}
.container{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.coluna{
    width: 100%;
    max-width: 400px;
    display: flex
;
    flex-direction: column;
    gap: 20px;
}

.img-usuario{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
}

.post header{
    display: flex;
    align-items: center;
    gap: 20px;
}
.post{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 8px;

}


.post footer a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
}

.conteudo-post img{  
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}



.sidebar header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
    transition: all 0.38s;
}

.sidebar header img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    transition: all ease-in-out 0.5s;
}

.sidebar header img:hover{
    transform: scale(1.2);
    object-fit: cover;
}
#btn-menu{
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.btn-menu i{
    font-size: 20px;
    cursor: pointer;
}

.sidebar{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    padding: 15px;
    border-right: 1px solid rgba(255,255,255,0.2);
    height: 100vh;
    min-height: 100vh;
    z-index: 99;
    flex-grow: 1;
    position: fixed;
    left: 0;
    top: 0;

    transition: all 0.38s;
}

.principal{
    width: 100%;
    margin-left: 250px;
    transition: all 0.38s;
    padding: 15px;
}

.sidebar i{
    font-size: 16px;
}

.sidebar nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.items{
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    border: none;
    border: 1px solid transparent;
}


.sidebar nav button:hover{
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.2);
}

.btn-ativo{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-desativo{
    background-color: transparent;
    border: 1px solid transparent;
}

.sidebar nav span{
    font-size: 14px;
    transition: all 0.38s;
}

.ativa{
    width: 250px;
    padding: 15px;
}

.desativa{
    width: 100px;
    padding: 15px 10px 10px 10px;
}


@media (max-width: 600px){
    .sidebar{
        width: 80px;
        padding: 15px 8px;

        header{
            align-items: center;
            justify-content: center
        };
    }

    .items{
        padding: 10px 0;
    }

    #btn-menu{
        display: none;
    }
    .principal{
        margin-left: 80px;
    }
    span{
        display: none;
    }
    button{
        justify-content: center;
    }
    
}